/* the lion ignores the 4 errors 🤫🧏‍♂️ */

@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/StationStandard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kozuka';
  src: url('fonts/KozGoPr6NRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fonstars';
  src: url('fonts/passagewaybd.otf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'MyCustomFont', sans-serif;
}
h2 {
  font-family: 'fonstars', sans-serif;
}
p {
  font-family: 'kozuka', sans-serif;
}
body {
  background: #111;
  color: #eee;
  font-family: 'kozuka', sans-serif;
  background-image: url('images/f40.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 0 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
}

.box {
  flex: 1 1 calc(49%);
  max-width: calc(47% - 10px);
  min-width: 250px;
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center; /* add this */
}

.box2 {
  flex: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: center;
  max-width: 1600px;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] > summary::before {
  content: "▼ ";
}

details > summary::before {
  content: "▶ ";
}

.box img {
  width: 100%;
  height: auto;
  display: block;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#intro-text {
  flex: 1 1 600px;
}

#intro-image {
  flex: 0 0 auto;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

#box-image {
  flex: 0 0 auto;
  max-width: 200px;
  width: 100%;
  height: auto;
}

#pc-photo {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 6px;
}
a:link {
  color: lightseagreen;
}

a:visited {
  color: hotpink;
}

a:hover {
  color: whitesmoke;
}

a:active {
  color: black;
}